@import 'bourbon';

$dark-grey: #444444;
$light-grey: #cccccc;
$wsize : 400px;
$hsize : 400px;

body {
  font-family: 'Helvetica Neue', sans-serif;
  p {
    color: #ffffff;
    font-size: 18px;
    word-wrap: break-word;
    margin: 20px;
    text-align: center;
  }
  p:first-letter {
    text-transform: uppercase;
  }
}

.fullplayer {
  z-index: 0;
  width: 1280px;
  height: 720px;
  background: url("../img/full_screen.png");
}

.artwork-container {
  position: absolute;
  width: $wsize;
  height: $hsize;
  top: 140px;
  left: 448px;
  z-index: 3;
  background: url('../img/artwork.png');

  &.artwork-fade-in {
    opacity: 1;
    @include transition(opacity 1.5s ease-out);
  }
  &.artwork-fade-out {
    opacity: 0;
    @include transition(opacity 0.5s ease-in);
  }
}

.lyrics-container {
  position: absolute;
  opacity: 0;
  width: $wsize;
  top: 120px;
  left: 70px;

  &.lyrics-fade-in {
    opacity: 1;
    @include transition(opacity 0.5s ease-out);
  }
  &.lyrics-fade-out {
    opacity: 0;
    @include transition(opacity 0.5s ease-in);
  }
}

.current-line {
  width: 1090px;
  height: 110px;
  padding: 25px;
  background-color: #1990db;
  opacity: 0.6;
}

.micro-off, .micro-on{
  position: absolute;
  top: 644px;
  left: 947px;
  display: block;
  width: 36px;
  height: 36px;
}

.micro-off {
  background: url('../img/sprite.png') 0 0 no-repeat;

  &:hover{
    background-position: 0 -36px;
    cursor: pointer;
  }
  &:active{
    background-position: 0 -72px;
  }
}

.micro-on {
  background: url('../img/sprite.png') 0 -72px no-repeat;
  display: none;

  &:hover{
    background-position: 0 -108px;
    cursor: pointer;
  }
  &:active{
    background-position: 0 0px;
  }
}
