body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif; }
  body p {
    color: #ffffff;
    font-size: 18px;
    word-wrap: break-word;
    text-align: center; }
  body p:first-letter {
    text-transform: uppercase; }

.fullplayer {
  z-index: 0;
  width: 1280px;
  height: 720px;
  background: url("../img/full_screen.png"); }

.artwork-container {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 140px;
  left: 448px;
  z-index: 3;
  background: url("../img/artwork.png"); }
  .artwork-container.artwork-fade-in {
    opacity: 1;
    -webkit-transition: opacity 1.5s ease-out;
    -moz-transition: opacity 1.5s ease-out;
    transition: opacity 1.5s ease-out; }
  .artwork-container.artwork-fade-out {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in; }

.lyrics-container {
  position: absolute;
  top: 200px;
  left: 64px; }
  .lyrics-container.lyrics-fade-in {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }
  .lyrics-container.lyrics-fade-out {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in; }

.lyrics-default {
  top: 200px;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1152px;
  margin: 0 auto;
  padding: 25px;
  font-size: 50px;
  line-height: 50px; }

.current-line {
  top: 0 !important;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  background-color: rgba(25, 144, 219, 0.6); }
  .current-line.finished {
    opacity: 0;
    top: -50px !important;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }

.second-line {
  opacity: 0.7;
  -webkit-transition: opacity 2.5s ease-in-out 2s;
  -moz-transition: opacity 2.5s ease-in-out 2s;
  transition: opacity 2.5s ease-in-out 2s; }

.unvisible-lines {
  opacity: 0; }

.micro-off, .micro-on {
  position: absolute;
  top: 634px;
  left: 937px;
  display: block;
  width: 36px;
  height: 36px; }

.micro-off {
  background: url("../img/sprite.png") 0 0 no-repeat; }
  .micro-off:hover {
    background-position: 0 -36px;
    cursor: pointer; }
  .micro-off:active {
    background-position: 0 -72px; }

.micro-on {
  background: url("../img/sprite.png") 0 -72px no-repeat;
  display: none; }
  .micro-on:hover {
    background-position: 0 -108px;
    cursor: pointer; }
  .micro-on:active {
    background-position: 0 0px; }
