body {
  font-family: 'Helvetica Neue', sans-serif; }
  body p {
    color: #666666;
    font-size: 24px;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify; }
  body p:first-letter {
    text-transform: uppercase; }

.player-container {
  display: block;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  background: url("../img/bg.png"), url("../img/grid.png");
  border: 1px solid black; }

.content-container {
  display: block;
  position: absolute;
  left: 670px;
  top: 140px;
  width: 450px;
  height: 350px; }
  .content-container h1 {
    font-weight: normal;
    font-size: 32px;
    color: #444444;
    margin: 0; }
  .content-container p {
    text-transform: lowercase; }

.logo-container {
  display: block;
  left: 237px;
  top: 130px;
  width: 350px;
  height: 350px;
  background: white;
  border: 2px solid #444444;
  position: relative;
  z-index: 1000; }
  .logo-container .box {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 1050px; }
    .logo-container .box.slide-out {
      -webkit-animation-name: slide-out;
      -moz-animation-name: slide-out;
      animation-name: slide-out;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-timing-function: ease-in;
      -moz-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      left: -590px; }
    .logo-container .box.slide-in-out {
      -webkit-animation-name: slide-in-out;
      -moz-animation-name: slide-in-out;
      animation-name: slide-in-out;
      -webkit-animation-duration: 3.5s;
      -moz-animation-duration: 3.5s;
      animation-duration: 3.5s;
      -webkit-animation-timing-function: ease-out;
      -moz-animation-timing-function: ease-out;
      animation-timing-function: ease-out; }

#red {
  background-color: red;
  left: 0; }

#red.finished {
  left: -590px; }

#green {
  background-color: green;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

#blue {
  background-color: blue;
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s; }

.content-box {
  position: absolute;
  opacity: 0; }
  .content-box.fade-out {
    -webkit-animation-name: fade-out;
    -moz-animation-name: fade-out;
    animation-name: fade-out;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  .content-box.fade-in-out {
    -webkit-animation-name: fade-in-out;
    -moz-animation-name: fade-in-out;
    animation-name: fade-in-out;
    -webkit-animation-duration: 3.5s;
    -moz-animation-duration: 3.5s;
    animation-duration: 3.5s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

#red-content {
  opacity: 1; }
  #red-content.hiddenify {
    opacity: 0; }

#green-content {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

#blue-content {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s; }

@-webkit-keyframes slide-out {
  0% {
    left: 0px; }

  100% {
    left: -590px; } }

@-moz-keyframes slide-out {
  0% {
    left: 0px; }

  100% {
    left: -590px; } }

@-o-keyframes slide-out {
  0% {
    left: 0px; }

  100% {
    left: -590px; } }

@keyframes slide-out {
  0% {
    left: 0px; }

  100% {
    left: -590px; } }

@-webkit-keyframes slide-in-out {
  0% {
    left: 1050px; }

  50% {
    left: 0px; }

  75% {
    left: 0px; }

  100% {
    left: -590px; } }

@-moz-keyframes slide-in-out {
  0% {
    left: 1050px; }

  50% {
    left: 0px; }

  75% {
    left: 0px; }

  100% {
    left: -590px; } }

@-o-keyframes slide-in-out {
  0% {
    left: 1050px; }

  50% {
    left: 0px; }

  75% {
    left: 0px; }

  100% {
    left: -590px; } }

@keyframes slide-in-out {
  0% {
    left: 1050px; }

  50% {
    left: 0px; }

  75% {
    left: 0px; }

  100% {
    left: -590px; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0; }

  40% {
    opacity: 0; }

  50% {
    opacity: 1; }

  75% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fade-in-out {
  0% {
    opacity: 0; }

  40% {
    opacity: 0; }

  50% {
    opacity: 1; }

  75% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fade-in-out {
  0% {
    opacity: 0; }

  40% {
    opacity: 0; }

  50% {
    opacity: 1; }

  75% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-in-out {
  0% {
    opacity: 0; }

  40% {
    opacity: 0; }

  50% {
    opacity: 1; }

  75% {
    opacity: 1; }

  100% {
    opacity: 0; } }
