body {
  font-family: 'Helvetica Neue', sans-serif; }
  body p {
    color: #666666;
    font-size: 24px;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify; }
  body p:first-letter {
    text-transform: uppercase; }

.player-container {
  display: block;
  width: 1280px;
  height: 720px;
  background: -webkit-radial-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3)) left repeat, url("../img/bg.png");
  background: radial-gradient(   rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3)) left repeat, url("../img/bg.png");
  border: 1px solid black; }

.content-container {
  display: block;
  position: absolute;
  left: 670px;
  top: 140px;
  width: 450px;
  height: 350px; }
  .content-container h1 {
    font-weight: normal;
    font-size: 32px;
    color: #444444;
    margin: 0; }
  .content-container p {
    text-transform: lowercase; }

.logo-container {
  display: block;
  position: absolute;
  left: 245px;
  top: 140px;
  width: 350px;
  height: 350px;
  background: white;
  border: 2px solid #444444; }
