#favoris:hover {
  -webkit-animation: my-anim 2s ease-in-out infinite;
  -moz-animation: my-anim 2s ease-in-out infinite;
  animation: my-anim 2s ease-in-out infinite; }

@-webkit-keyframes my-anim {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes my-anim {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes my-anim {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes my-anim {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

/**   Seconde version du CSS   **/
#square-container {
  width: 1050px;
  height: 350px;
  background-color: #cccccc;
  overflow: hidden;
  position: relative; }
  #square-container .box {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 1050px; }
    #square-container .box.move {
      -webkit-animation-name: my-anim;
      -moz-animation-name: my-anim;
      animation-name: my-anim;
      -webkit-animation-duration: 3s;
      -moz-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out; }

#red {
  background-color: red; }

#green {
  background-color: green;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s; }

#blue {
  background-color: blue;
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s; }

@-webkit-keyframes my-anim {
  0% {
    left: 1050px; }

  50% {
    left: 150px; }

  75% {
    left: 150px; }

  100% {
    left: calc(0% - 350px); } }

@-moz-keyframes my-anim {
  0% {
    left: 1050px; }

  50% {
    left: 150px; }

  75% {
    left: 150px; }

  100% {
    left: calc(0% - 350px); } }

@-o-keyframes my-anim {
  0% {
    left: 1050px; }

  50% {
    left: 150px; }

  75% {
    left: 150px; }

  100% {
    left: calc(0% - 350px); } }

@keyframes my-anim {
  0% {
    left: 1050px; }

  50% {
    left: 150px; }

  75% {
    left: 150px; }

  100% {
    left: calc(0% - 350px); } }
