body {
  font-family: 'Helvetica Neue', sans-serif; }
  body p {
    color: #666666;
    font-size: 24px;
    word-break: break-all;
    word-wrap: break-word;
    word-spacing: 15px; }
  body p:first-letter {
    text-transform: uppercase; }

.player-container {
  position: absolute;
  display: block;
  width: 1280px;
  height: 720px;
  overflow: hidden; 
  background-image: url('../img/fullplayer.png');
}

.loader {
  background-color: rgba(0, 0, 0, 0.5);
  width: 344px;
  height: 344px;
  position: absolute;
  top: 140px;
  left: 238px;
}
