@import 'bourbon';

$wsize : 350px;
$hsize : 350px;

#favoris:hover{
  @include animation(my-anim2 2s ease-in-out infinite);
}
@include keyframes(my-anim2) {
  0%{opacity : 1;}
  50%{opacity : 0;}
  100%{opacity: 1;}
}

/**   Seconde version du CSS   **/

#square-container{
  width: 1050px;
  height: 350px;
  background-color: #cccccc;
  overflow: hidden;
  position: relative;

  .box{
    width: $wsize;
    height: $hsize;
    position: absolute;
    left: 1050px;

    &.move{
      // @include animation(my-anim 3s ease-in-out)
      @include animation-name(my-anim);
      @include animation-duration(3s);
      @include animation-timing-function(ease-in-out);
    }
  }
}

#red{
  background-color: red;

}
#green{
  background-color: green;
  @include animation-delay(2s);
}
#blue{
  background-color: blue;
  @include animation-delay(4s);
}



@include keyframes(my-anim) {
  0% {left: 1050px;}
  50% {left: 150px;}
  75% {left: 150px;}
  100% {left: calc(0% - 350px);}
}