@import 'bourbon';

$wsize : 350px;
$hsize : 350px;

#favoris:hover{
  @include animation(my-anim 2s ease-in-out infinite);
}
@include keyframes(my-anim) {
  0%{opacity : 1;}
  50%{opacity : 0;}
  100%{opacity: 1;}
}

// #square-container{
//   width: 1050px;
//   height: 350px;
//   background-color: #cccccc;
//   overflow: hidden;

//   #red-square{
//     background-color: red;
//     left: 150px;
//     position: relative;

//     &.move1{
//       left: -350px;
//       @include animation(red-anim 2s ease-in-out);
//     }
//   }
//   #green-square{
//     background-color: green;
//     left: 700px;
//     position: relative;

//     &.move2{
//       @include animation(green-anim 6s ease-in-out);
//       left: -700px;
//     }
//   }
//   #blue-square{
//     background-color: blue;
//     left: 350px;
//     position: relative;

//     &.move4{
//       @include animation(blue-anim 8s ease-in-out);
//       left: -1150px;
//     }
//   }

// }

// #red-square, #green-square, #blue-square{
//   width: $wsize;
//   height: $hsize;
//   float: left;
// }

/**   Seconde version du CSS   **/

#square-container{
  width: 1050px;
  height: 350px;
  background-color: #cccccc;
  overflow: hidden;
  position: relative;

  .box{
    width: $wsize;
    height: $hsize;
    position: absolute;
    left: 1050px;

    &.move{
      // @include animation(my-anim 3s ease-in-out)
      @include animation-name(my-anim);
      @include animation-duration(3s);
      @include animation-timing-function(ease-in-out);
    }
  }
}

#red{
  background-color: red;

}
#green{
  background-color: green;
  @include animation-delay(2.5s);
}
#blue{
  background-color: blue;
  @include animation-delay(4.5s);
}



@include keyframes(my-anim) {
  0% {left: 1050px;}
  50% {left: 150px;}
  75% {left: 150px;}
  100% {left: calc(0% - 350px);}
}