@import 'bourbon';

$dark-grey: #444444;
$light-grey: #cccccc;
$wsize : 350px;
$hsize : 350px;

body {
  font-family: 'Helvetica Neue', sans-serif;
  p {
    color: #666666;
    font-size: 24px;
    word-break: break-all;
    word-wrap: break-word;
    word-spacing: 15px;
  }
  p:first-letter {
    text-transform: uppercase;
  }
}

#start-anim, #PageRefresh{
  width: 150px;
  height: 150px;
  font-size: 25px;
}

.player-container {
  display: block;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  background: url("../img/grid.png");
  border: 1px solid black;
}
.gradient {
  display: block;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  background: url('../img/bg.png');
  opacity: 0;

    &.fullplayer-in {
      opacity: 1;
      @include transition(opacity 1s ease-out 1s);
    }

    &.fullplayer-out {
      opacity: 0;
      @include transition(opacity 1s ease-in 2.5s);
    }
}

.content-container {
  display: block;
  position: absolute;

  left: 670px;
  top: 140px;

  width: 450px;
  height: 350px;


  h1 {
    font-weight: normal;
    font-size: 32px;
    color: $dark-grey;
    margin: 0;
  }

  p {
    text-transform: lowercase;
  }
}

.logo-container {
  display: block;
  left: 237px;
  top: 130px;
  width: 350px;
  height: 350px;
  position: relative;
  z-index: 1000;


  .box{
    width: $wsize;
    height: $hsize;
    position: absolute;
    left: 1045px;

    @include transition(all);

    &.slide-in {
      left: 0;
      @include transition-timing-function(ease-out);
      @include transition-delay(2.5s);
      @include transition-duration(2s);
    }

    &.slide-out {
      left: calc(0% - 590px);
      @include transition-timing-function(cubic-bezier(0.55, 0.055, 0.675, 0.19));
      @include transition-delay(1.5s);
      @include transition-duration(1s);
    }
  }
}

#red{
  background-image: url('../img/large_virgin_radio.png');
  background-size: 100%;
  border: 2px solid $light-grey;
}

#green{
  background-image: url('../img/large_france_musique.png');
  background-size: 100%;
  border: 2px solid $light-grey;
}

#blue{
  background-image: url('../img/large_rfi_afrique.png');
  background-size: 100%;
  border: 2px solid $light-grey;
}


.content-box {
  position: absolute;
  opacity: 0;

  // @include transition(all 1.5s);

    &.fade-in {
      opacity: 1;
      @include transition(opacity 1s ease-out 3.5s);
    }

    &.fade-out {
      opacity: 0;
      @include transition(opacity 1s ease-in 2s);
    }
}

#red-content {
}

#green-content{
}

#blue-content{
}

