@import 'bourbon';

$dark-grey: #444444;
$wsize : 350px;
$hsize : 350px;

body {
  font-family: 'Helvetica Neue', sans-serif;
  p {
    color: #666666;
    font-size: 24px;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify;
  }
  p:first-letter {
    text-transform: uppercase;
  }
}

.player-container {
  display: block;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  background: url("../img/bg.png"), url("../img/grid.png");

  border: 1px solid black;
}

.content-container {
  display: block;
  position: absolute;

  left: 670px;
  top: 140px;

  width: 450px;
  height: 350px;


  h1 {
    font-weight: normal;
    font-size: 32px;
    color: $dark-grey;
    margin: 0;
  }

  p {
    text-transform: lowercase;
  }
}

.logo-container {
  display: block;

  left: 237px;
  top: 130px;

  width: 350px;
  height: 350px;
  background: white;
  border: 2px solid $dark-grey;
  position: relative;
  z-index: 1000;


  .box{
    width: $wsize;
    height: $hsize;
    position: absolute;
    left: 1050px;

    &.slide-out{
      @include animation-name(slide-out);
      @include animation-duration(2s);
      @include animation-timing-function(ease-in);
      // left: -590px;
    }

    &.slide-in{
      @include animation-name(slide-in);
      @include animation-duration(2s);
      @include animation-timing-function(ease-out);
    }
  }
}

#red{
  background-color: red;
  left: 0;
}

#red.finished {
  left: -590px;
}

#green{
  background-color: green;
   // @include animation-delay(1s);
}

#blue{
  background-color: blue;
  @include animation-delay(1s);
}


.content-box {
  position: absolute;
  opacity: 0;

&.fade-in{
    @include animation-name(fade-in);
    @include animation-duration(2s);
    @include animation-timing-function(ease-out);
  }
  &.fade-out {
    @include animation-name(fade-out);
    @include animation-duration(2s);
    @include animation-timing-function(ease-in);
  }
}

#red-content {
  opacity: 1;

  &.hiddenify{
    opacity: 0;
  }
}

#green-content{
   // @include animation-delay(1s);
}

#blue-content{
   @include animation-delay(1s);
}


@include keyframes(slide-in) {
  0% {left: 1050px;}
  100% {left: 0px;}
}
@include keyframes(slide-out) {
  0% {left: 0px;}
  100% {left: -590px;}
}

@include keyframes(fade-in) {
  0% {opacity: 0;}
  40% {opacity: 0;}
  100% {opacity: 1;}
}
@include keyframes(fade-out) {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
